*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}
.sec0{
    position: fixed;
    width: 100vw;
}
header {
    background-color: #970747;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.logo {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    font-size: 2.5vw; 
    
}


.navi {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    color: #fff9dc;
    font-size: 2vw;  
}

.sec1 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw; 
   
}

.box1 {
    background-color: #970747;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70vh;
    width: 90vw;
    font-size: 3vw;  
    color: #fff;
    border-top: 5vh solid#fff9dc  ;
}
 
.sen{
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: ;

}

.box2{
align-self: start;




}

.web{
text-align: center;
display: flex;
align-self: center;
justify-content: space-around;
top: 5vh;
color: black;
width: 40vw;
height: 25vh;
border-top: 15vh solid#970747;
border-bottom: solid#fff9dc;
border-left:60vw #970747;


}

.box11{
    justify-content: space-around;
    border-right:1vw solid#970747;

}
.pic1{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;


    
   


}


.sec2 {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color: #ffffff;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;  
}



.hoby {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
    font-size: 2vw;  
}

.box3 {
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9dc;
    border-bottom: 1.5vh solid #970747;
    border-right: 1.5vh solid #970747;
    font-size: 2.5vw;  
}

.box4 {
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9dc;
    border-bottom: 1.5vh solid #970747;
    border-right: 1.5vh solid #970747;
    font-size: 2.5vw;  
}

.box5 {
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9dc;
    border-bottom: 1.5vh solid #970747;
    border-right: 1.5vh solid #970747;
    font-size: 2.5vw; 
}
.box6{
    display: flex;
    align-self: 50% left;
    align-items: center;
    justify-content: center;
    height: 12vw;
    
    padding-top: 5% ;
    background-color: #fff9dc;
 } 
 .box67{
    display: flex;
    align-self: 50% left;
    align-items: center;
    justify-content: center;
    height: 12vw;
    
    padding-top: 5% ;
    background-color: #fff;
    
}

.hob{
    border-bottom: 0.5vh solid #970747;
    width: 20vw;
    font-size: 3vw ; 
    align-self: center ;
    align-items: center;
    text-align: center;

}

.sec3 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;  
}

.box7 {
    background-color: #970747;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90vw;
    font-size: 3vw;  
    color: #fff;
}

.sec4 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    display: flex;
}

.skl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
    font-size: 2vw; 
}

.box9 {
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #970747;
    font-size: 2.5vw;  
    color: #fff;
}

.box10 {
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #970747;
    font-size: 2.5vw; 
    color: #fff;
}

.box11 {
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #970747;
    font-size: 2.5vw;  
    color: #fff;
}

.sec5 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;  
}

.gly {
    background-color: #970747;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90vw;
    font-size: 3vw;  
    color: #fff;
}




   
.sec6{
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    display: flex;

}





footer{
    background-color: #970747;
    height: 5vh;
    text-align: center;
    font-size: 5vh vw;
    color: #fff9dc;
}