*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}
.sec0{
    position: fixed;
    width: 100vw;
}
header {
    background-color: #970747;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.logo {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    font-size: 2.5vw; 
    
}


.navi {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    color: #fff9dc;
    font-size: 2vw;  
}

.sec1 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 100vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw; 
   
}

.box1 {
    background-color: #970747;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90vh;
    width: 95vw;
    font-size: 3vw;  
    color: #fff;
    border-top: 5vh solid#fff9dc  ;
}
 
.sen{
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: ;

}

.box2{
    justify-content: start;
    padding-left: 3vw;




}

.web{
text-align: center;
display: flex;
align-self: center;
justify-content: space-around;
top: 5vh;
color: black;
width: 40vw;
height: 25vh;
border-top: 15vh solid#970747;
border-bottom: solid#fff9dc;
border-left:60vw #970747;


}

.cir{
    justify-content: space-around;
    padding-right: 1vh;
   
   

}
.pic1{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;


}

.sec2 {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color: #ffffff;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;
}

.hoby {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; 
    gap: 1vw;
    font-size: 2vw;
}

.box3, .box4, .box5 {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff9dc;
    border-bottom: 3vh solid #970747;
    border-right: 3vh solid #970747;
    font-size: 2vw;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding: 1vh 2vw;
    height: 100%;
    text-align: center;
}

.t1 {
    font-weight: bold;
    margin-bottom: 2vh; 
    font-size: 0.1vw;  
}


.pic2, .pic3, .pic4 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.img{
    width: 80vh;
    height: 10vw;
    display: flex;
   


}



.pic2 img, .pic3 img, .pic4 img {
    width: 80%;
    height: 100%;
    object-fit: contain; 
   
}


.box6{
    display: flex;
    align-self: 50% left;
    align-items: center;
    justify-content: center;
    height: 12vw;
    
    padding-top: 5% ;
    background-color: #fff9dc;
 } 
 .box67{
    display: flex;
    align-self: 50% left;
    align-items: center;
    justify-content: center;
    height: 12vw;
    
    padding-top: 5% ;
    background-color: #fff;
    
}

.hob{
    border-bottom: 0.5vh solid #970747;
    width: 20vw;
    font-size: 3vw ; 
    align-self: center ;
    align-items: center;
    text-align: center;

}

.sec3 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;  
}





.ltt{
    background-color: #970747;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 90vw;
    font-size: 3vw;  
    color: #fff;

}

.box7 {
    justify-content: center;
    display: flex;
    width:75vw ;
    height:70vh ;

    
}

.pic5{
    justify-content: center;
    display: flex;
    padding-left: 10vw;
    
    




}
.img1{
    align-self: center;
    height:80% ;
    width: 90%;
    display: flex;



}

.box8{
    color: black;
    padding: 5vw;
    font-size: 7vh;
}

.sec4 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 100vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
}

.skl {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; 
    gap: 1vw;
    font-size: 2vw;
    color: black;
}

.box9, .box10, .box11 {
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #970747;
    font-size: 2vw;
    color: #fff;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100%;
    padding: 1vh 2vw;
    text-align: center;
}

.t1 {
    font-weight: bold;
    margin-bottom: 2vh; 
    font-size: 1.5em;  
}


.pic6, .pic7, .pic8 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic6 img, .pic7 img, .pic8 img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain; 
}

.img2{
    height:80% ;
    width: 80%;
}



.sec5 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;  
}

.gly {
    background-color: #970747;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 90vw;
    font-size: 3vw;  
    color: #fff;
}




   
.sec6{
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 95vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    display: flex;

}





footer{
    background-color: #970747;
    height: 7vh;
    text-align: center;
    font-size:  5vh;
    color: #fff9dc;
}