*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}
.sec0{
    position: fixed;
    width: 100vw;
}
header {
    background-color: #970747;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.logo {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    font-size: 2.5vw; 
    
}


.navi {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    color: #fff9dc;
    font-size: 2vw;  
}



.navi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navi ul li {
    display: inline-block;
}

.navi ul li a {
    color:#fff9dc; 
    text-decoration: none; 
    
}

.sec1 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 100vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw; 
   
}

.box1 {
    background-color: #970747;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90vh;
    width: 95vw;
    font-size: 3vw;  
    color: #fff;
    border-top: 5vh solid#fff9dc  ;
}
 
.sen{
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: ;

}

.box2{
    justify-content: start;
    padding-left: 3vw;




}

.web{
text-align: center;
display: flex;
align-self: center;
justify-content: space-around;
top: 5vh;
color: black;
width: 40vw;
height: 25vh;
border-top: 15vh solid#970747;
border-bottom: solid#fff9dc;
border-left:60vw #970747;


}

.cir{
    justify-content: space-around;
    padding-right: 3vw;
   
   

}
.pic1{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;


}

.sec2 {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color: #ffffff;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;
}

.hoby {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; 
    gap: 1vw;
    font-size: 2vw;
}

.box3, .box4, .box5 {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff9dc;
    border-bottom: 3vh solid #970747;
    border-right: 3vh solid #970747;
    font-size: 2vw;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding: 1vh 2vw;
    height: 100%;
    text-align: center;
}

.t1 {
    font-weight: bold;
    margin-bottom: 2vh; 
    font-size: 0.1vw;  
}


.pic2, .pic3, .pic4 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.img{
    width: 80vh;
    height: 10vw;
    display: flex;
   


}



.pic2 img, .pic3 img, .pic4 img {
    width: 80%;
    height: 100%;
    object-fit: contain; 
   
}


.box6{
    display: flex;
    align-self: 50% left;
    align-items: center;
    justify-content: center;
    height: 12vw;
    
    padding-top: 3% ;
    background-color: #fff9dc;
 } 
 .box67{
    display: flex;
    align-self: 50% left;
    align-items: center;
    justify-content: center;
    height: 12vw;
    
    padding-top: 3% ;
    background-color: #fff;
    
}

.hob{
    border-bottom: 0.5vh solid #970747;
    width: 25vw;
    font-size: 3vw ; 
    align-self: center ;
    align-items: center;
    text-align: center;

}

.sec3 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 80vh;
    border-bottom: 0.5vh solid #970747;
    font-size: 2.5vw;  
}





.ltt{
    background-color: #970747;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 90vw;
    font-size: 3vw;  
    color: #fff;

}

.box7 {
    justify-content: center;
    display: flex;
    width:50vw ;
    height:70vh ;

    
}

.pic5{
    justify-content: center;
    display: flex;
    
    
}

.h1{

    justify-content: center;
}
.learn{
    justify-content: center;
    justify-self: center;
    width: 50vw;


}
.img1{
    align-self: center;
    height:45vh ;
    width: 30vw;
    display: flex;

}

.box8{
    color: black;
    justify-content: center
    
}

.sec4 {
    display: flex;
    justify-content: space-around;
    padding: 5vh 2vw;
    height: 100vh;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
}

.skl {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; 
    gap: 1vw;
    font-size: 2vw;
    color: black;
}

.box9, .box10, .box11 {
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #970747;
    font-size: 2vw;
    color: #fff;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100%;
    padding: 1vh 2vw;
    text-align: center;
}

.t1 {
    font-weight: bold;
    margin-bottom: 2vh; 
    font-size: 1.5em;  
}


.pic6, .pic7, .pic8 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic6 img, .pic7 img, .pic8 img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain; 
}

.img2{
    height:80% ;
    width: 80%;
}



.sec5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 2vw;
    height: 100vh;
    background-color: #fff;
    border-bottom: 0.5vh solid #970747;
}

.gly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    width: 95vw;
    height: 86vh;
    background-color: #970747;
}

.top, .down {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 5vw;
    border: 2vh solid #970747;

}

.box13, .box14, .box15, .box16, .box17, .box18 {
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.box13 img, .box14 img, .box15 img, 
.box16 img, .box17 img, .box18 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-top: 1vw solid #fff9dc;
    border-left: 1vw solid #fff9dc;
}


.sec6 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5vh 2vw;
    background-color: #fff9dc;
    border-bottom: 0.5vh solid #970747;
    height: 80vh;
    width: 100vw;
}

.com {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 3vh 3vw;
    height: 70vh;
}

.box20 {
    width: 40vw;
    margin-right: 5vw; 
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 10vh;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    
}

.contact-form label {
    font-size: 2vh;
    color: #970747;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1.5vh;
    margin-bottom: 2vh;
    background-color: #fff9dc;
    border: none;
    border-bottom: 0.5vh solid #970747;
    font-size: 1.5vw; 
}

.contact-form button {
    background-color: #970747;
    color: #fff9dc;
    border-radius: 50vh;
    cursor: pointer;
    font-size: 2vh;
    align-self: flex-end;
    padding: 2vh;
    border: none;
    width: 15vw;
        
       
         
}

.contact-form button:hover {
    background-color: #970747;
}

.box21 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.contact-info {
    text-align: center;
    padding-top: 7vh;
}

.hob {
    
    color: #970747;
    margin-bottom: 2vh;
}

.social-icons {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.social-icons a {
    display: flex;
    justify-content: center;
   
    width: 5vh;
    height: 5vh;
    background-color: #970747;
    border-radius: 50%;
}

.social-icons img {

    object-fit: contain;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.contact-form img {
    width: 100%;  
    height: auto; 
    object-fit: cover;
}


.contact-form textarea {
    resize: none; 
    white-space: pre-wrap; 
}



.contact-form input,
.contact-form textarea,
.contact-form button {
    font-size: 2vh;
}


.sec7 {
    background-color: #970747;
    padding: 3vh 0;
}

.foter {
    text-align: center;
    font-size: 30%;
    color: #fff9dc;
}